* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(168, 168, 168, 0.829);
}

.search { 
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  max-width: 500px;
  border-radius: 5px;
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(211, 211, 211);

  &__input {
    width: 100%; 
    font-size: 12px;
    text-align: center;
    border-radius: 3px;
    margin: 2px 7px;
    border: none;
  }
}

.news {    
  min-width: 360px;
  max-width: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 5px;
  padding-top: 5px;

  &__img{    
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding: 0 5px;    
  }
    
  &__navi {
    display: flex;
    height: 40px;
    margin: 5px;    
       
    &-circle {
      height: 20px;     
      width: 20px;
      flex-shrink: 0;      
      background-color: rgb(35, 156, 255); 
      border-radius: 20px;
      margin: 5px;

    }

    &-title {      
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: 700;
      flex-grow: 100;
      margin: 5px;
    }

    &-time{
      margin: 5px;
      font-size: 10px;
      color: grey;
      flex-shrink: 0;
    }

    &-button {
    border: none;
    background-color: transparent;
    flex-shrink: 0;
    color: grey;
    width: 15px;
    height: 15px;
    border-top: 2px solid grey;
    border-right: 2px solid grey;
    transform: rotate(45deg);
    margin-top: 8px;
    margin-right: 10px;
    }    
  }

  &__sourse {
    padding-left: 35px;
    font-size: 10px;
    font-weight: 700;
    text-transform: lowercase;
  }
  
  &__sourse-start {
    padding-left: 35px;
    font-size: 10px;
    color: grey;
    padding-bottom: 5px;
  }

}






